
.imagetext {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    font-size: 59px;
    color: white; 
}
    

i {
    display: inline-block !important;
}

.headertextdiv {
    display: none;
 }

    
.smallimagetext {
    font-size: 14px;
}
    
    
.limagephotodiv {
     width: 447px;
     height: 200px;
     position: absolute;
}
    
.cardsdiv {
    width: 500px;
 }
    
    
.divtext {
     width: 400px;
    margin-bottom: 20px;
 }